<div class='container'>
	<h1>My Brews</h1>
<hr>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
            <th>Roast Batch #</th>
						<th>#</th>
						<th>
							Brew Method
						</th>
						<th>
							Date of Brew
						</th>
						<th>
							Quantity of Beans (grams)
						</th>
						<th>
							Overall
						</th>
					</tr>
				</thead>

				<tbody>
					<% @brews.each do |brew| %>
					<tr>
            <td><%= brew.roast.id %></td>
						<td><%= brew.id %></td>
						<td><%= brew.formatted_brew_method %></td>
						<td><%= brew.formatted_time_of_brew %></td>
						<td><%= brew.formatted_qty_of_beans %></td>
						<td><%= brew.formatted_overall %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
      <%= link_to 'All Roasts', root_path, class: 'btn btn-coffee' %>
		</div>
	</div>
</div>
